/* 

*{
    background-color: blue;
} */
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.common-section-title {
    font-size: 36px;
    font-weight: bold;

}


nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;

}

/* search  style */
.search-style {
    /* background-color:  rgb(241, 241, 241); */
    position: relative;
    color: #BABABA;
}

.search-style input {
    border-radius: 66px;
    padding: 15px 30px;
    border: none;
    width: 500px;
    background-color: rgb(241, 241, 241);
}

.search-style i {
    /* font-size: 20px; */
    position: absolute;
    top: 17px;
    right: 20px;

}

/* navbar style */
.nav-item {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-item li a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
    font-weight: 600px;
}

/* banner style */
.banner-style {
    background-color: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 25px;
}

.banner-style h2 {
    color: rgb(31, 31, 31);

    font-size: 56px;
    font-weight: bold;
    /* line-height: 84px; */
    /* letter-spacing: 0%; */
    /* text-align: left; */
}

.banner-style p {
    color: #4E4E4E;
    font-size: 20px;
    max-width: 550px;

    /* font-size: 56px; */
    /* font-weight: bold; */
    /* line-height: 84px; */
    /* letter-spacing: 0%; */
    /* text-align: left; */
}



.banner-style img {
    Width: 402px;
    Height: 300px
}

/* span style */
.price {
    color: #ff136f;
    font-weight: bold;
    font-size: 52px;
    display: block;
    padding: 20px;
    margin-bottom: 0px;
}

.panda-btn {
    border-radius: 6px;


    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
    padding: 15px 35px;
    border: none;
    color: white;
    font-weight: bold;
}

/* Catagories */
.catagories {
    margin: 64px auto;
}

.catagory-card {

    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    flex: 1;


}

.catagory-card img {
    width: 68.21px;
    height: 90px;
}

.catagory-card h3 {
    color: white;

    font-size: 30px;
    font-weight: bold;


}

.catagory-card-container {
    display: flex;
    gap: 26px;
    width: 100%;
}

.div-card-3 {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%, rgb(63, 7, 248) 74.29%);

}

.div-card-2 {
    /* Linear */
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);

    /* flex: 1; */
}

.div-card-1 {
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%, rgb(255, 208, 25) 84.486%);


}

/* shoes and bag secion */
/* shoes */
.common-title {
    display: flex;
    justify-content: space-between;
}

.p-style {
    color: #FF9D00;
    font-family: 500px;
    font-size: 20px;
}

.shoes-bag {

    background-color: rgb(244, 244, 244)
}

.shoes-section {
    /* background-color: rgb(244, 244, 244); */
    padding: 50px auto;
}

.shoes-card-container {
    display: flex;
    justify-content: space-between;
    gap: 15px
}

.shoes-card img {
    width: 336px;
    height: 202px;
}

.card-price {
    display: block;
    font-weight: bold;
    font-size: 28px;
}

.shoes-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}

.shoes-card .panda-btn {
    background: black;
}

/*bag  */
.bag-section {
    /* background: rgb(244, 244, 244); */
    padding: 50px auto;
}

.bag-card-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.bag-card img {
    width: 290px;
    height: 290px;

}

.bag-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}

.bag-card .panda-btn {
    background: black;
}


/* content section */
.content-section {
     background-color: #fff2f1;
  text-align: center;
  padding: 35px 20px;
  margin: 35px auto;
  border-radius: 15px;
    
}

.contact-int  input{
    border:none;
    padding: 25px 152px;
}
.contact-int .panda-btn{
     border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}